.wrapper-content {
  position: absolute;
  inset: 62px 0 39px;
  padding: 0;
}
.view-wrap {
  position: absolute;
  inset: 0;
  padding: 15px 10px;
  overflow: auto;
  background-color: #f1f1f1;
}
.panel-shadow {
  border-radius: 4px !important;
  box-shadow:
    0 1px 2px -1px rgb(0 0 0 / 1%),
    0 2px 3px 0 rgb(0 0 0 / 1%),
    0 1px 10px 0 rgb(0 0 0 / 8%);
}
.panel-shadow2 {
  border-radius: 4px !important;
  box-shadow:
    0 1px 2px -1px rgb(0 0 0 / 20%),
    0 2px 3px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
}
.panel-shadow3 {
  border-radius: 4px !important;
  box-shadow:
    0 1px 2px -1px rgb(0 0 0 / 18%),
    0 2px 3px 0 rgb(0 0 0 / 32%),
    0 1px 3px 0 rgb(0 0 0 / 30%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
.view-header {
  height: 40px;
  padding: 5px 20px;
  border-bottom: solid 1px #e3e3e3;
}
.view-header > .title {
  display: inline-block;
  height: 35px;
  padding-top: 5px;
  padding-left: 5px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: normal;
  vertical-align: middle;
}
.view-header > .tools {
  position: relative;
  float: right;
  width: calc(100% - 250px);
  padding-top: 3px;
  text-align: right;
}
.view-content {
  position: absolute;
  inset: 50px 0 0;
  padding: 10px;
}
.el-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-view {
  position: absolute;
  inset: 10px 15px 15px;
  background-color: white;
}
.list-side {
  position: absolute;
  top: 10px;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 500px;
  background-color: white;
}
.list-side > .title {
  display: inline-block;
  height: 35px;
  padding-top: 5px;
  padding-left: 5px;
  vertical-align: middle;
}
.list-view.shrink {
  right: 535px;
}
.list-view.shrink + .list-side {
  display: block;
}
.ag-theme-alpine .ag-tool-panel-wrapper {
  width: 400px;
}
.select-with-button {
  vertical-align: top;
}
.select-with-button > .el-select {
  display: table-cell;
  vertical-align: middle;
}
.select-with-button > .el-select input[type="text"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.select-with-button > .el-button {
  display: table-cell;
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.query-switch {
  margin-right: -4px;
  vertical-align: top;
  background-color: #f5f7fa;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.el-icon-sort {
  transform: rotate(90deg);
}
